header{
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
   
}

body{
    background-color: orange;
 
}

h1{
    font-size: 2em;
    font-weight: bold;
}

a{
    margin: 10px;
}

img{
    margin: 5px;
}

.inici{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: olive;
    padding: 20px;
    border-radius: 10px;
    margin: 80px;
}

.argument{
    margin-left: 25%;
    margin-right: 25%;
}

.personatges{
    margin:80px;
    background-color: olive;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-size: 30px;
}

.jeff{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.walter{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.theodore{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.jeffrey{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.maude{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
}

.media{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background-color: olive;
    padding: 20px;
    border-radius: 10px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    margin-top: 90px;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    text-emphasis-style: none;
    padding: 10px;
}

li{
    display: list-item;
    text-align: -webkit-match-parent;
}

.mr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 50px;
    justify-content: center;
}
.musica{
   width: 30%;
   margin-right: 50px;
   background-color: olive;
   padding: 20px;
   border-radius: 10px;
}
.review{
    width: 30%;
    margin-left: 50px;
    text-align: center;
    background-color: olive;
    padding: 20px;
    border-radius: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #020202;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-transform: UPPERCASE;
    text-decoration: none;
    opacity: 1;
    font-size: 100%;
    color: rgb(243, 245, 243);
    color: transparent;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.enllaços{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}